@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
/* Show the scrollbar for elements with the class .cartScroll */
.cartScroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* For WebKit-based browsers (Chrome, Safari) */
.cartScroll::-webkit-scrollbar {
  display: block;
}

.cartScroll::-webkit-scrollbar-track {
  background-color: white;
}

.cartScroll::-webkit-scrollbar-thumb {
  background-color: #42b89a;
  border-radius: 10%;
}

/* For Firefox */
.cartScroll {
  scrollbar-color: #42b89a white;
}

body {
  background-color: #f7f7fa;
}
